.action-bar.clearfix
  %button.btn.btn-default(data-toggle='collapse' data-target='.sidebar')
    %span.glyphicon.glyphicon-th-list

  .btn-subgroup
    = button_tag '', onclick: 'PLAYER.toggleAudio(event);', class: 'btn btn-default', style: 'display:none;' do
      %span.glyphicon.glyphicon-play
    = button_tag '', onclick: 'PLAYER.toggleAudio(event);', class: 'btn btn-default', style: 'display:none;' do
      %span.glyphicon.glyphicon-pause
  .btn-subgroup
    %span
      %span.bpm 80
      BPM
    .btn-group
      = button_tag '', onclick: 'PLAYER.speedDown(event);', class: 'btn btn-default' do
        %span.glyphicon.glyphicon-minus
      = button_tag '', onclick: 'PLAYER.speedUp(event);', class: 'btn btn-default' do
        %span.glyphicon.glyphicon-plus
  .btn-subgroup
    .btn-group
      = button_tag '', onclick: 'generate(); return false;', class: 'btn btn-default' do
        %span.glyphicon.glyphicon-refresh
      = button_tag 'Fullscreen', onclick: 'toggleFullScreen(); return false;', class: 'btn btn-default' do
        %span.glyphicon.glyphicon-fullscreen

%table.progression
  - if progression.empty?
    .intro
      %p Choose upper structure triads from the top-left menu to get started.
  - progression.in_groups_of(4).each do |four_usts|
    %tr
      - four_usts.each do |ust|
        %td{onclick: "PLAYER.goTo(#{progression.index(ust)});"}= fix_letter_spacing(ust)

