.separator
  = image_tag 'treble.jpg'

.result-count
  %span.value= progression.size
  chords were generated.

  .pull-right
    = button_tag 'Stop audio', onclick: 'stopAudio(event);'
    = button_tag 'Fullscreen', onclick: 'toggleFullScreen(); return false;'

%table.progression
  - progression.in_groups_of(4).each do |four_usts|
    %tr
      - four_usts.each do |ust|
        %td= fix_letter_spacing(ust)

