.well
  %h1 Upper Structure Triads Generator

  = form_for :ust, url: usts_path, method: :get, html: {class: 'ust-form'} do |f|
    %ul
      %li
        = f.check_box :dominant_enabled
        %label{for: "ust_dominant_enabled"} Dominant 7th
      %li
        = f.check_box :major_enabled
        %label{for: "ust_major_enabled"} Major 7th
      %li
        = f.check_box :minor_enabled
        %label{for: "ust_minor_enabled"} Minor 7th
      %li
        = f.check_box :minor_flat_five_enabled
        %label{for: "ust_minor_flat_five_enabled"} Minor 7th ♭5
      %li
        = f.check_box :diminished_enabled
        %label{for: "ust_diminished_enabled"} Diminished

    = f.submit :Generate

- if @progression.present?
  .separator
    = image_tag 'treble.jpg'

  %table.progression
    - @progression.in_groups_of(4).each do |four_usts|
      %tr
        - four_usts.each do |ust|
          %td= ust

%footer
  %p
    = "#{@progression.size} chords were generated."
  %p
    Like this app?
    = link_to "Here's the code.", 'https://github.com/matstc/ust-generator'
